/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	// =================================================================
	// --primary: 		#3DDEED; // Site main color - (Основний колір сайту)
	// --secondary: 	#BD00FF; // Site secondary color - (Додатковий колір сайту)
	// --accent: 		#182627; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	// --inverse:		#20112D; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
	
	// --gray : 		rgba(255, 255, 255, 0.20);
	// --success:		#198755;
	// --error:		#DC3445;
	// --warning:		#FEC107;
	// --white:		#FFFFFF;
	// --black:		#182627;

	// Hover 
	// =================================================================
	// --hover-primary:#B5347166;

	// // Background colors (Фонові кольори):
	// // =================================================================
	// // --bg-accent: 	#FFE8D4; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-primary: 	#1A0612; // BG primary background color - (Основний фоновий колір сайту)
	// // --bg-secondary: #172432; // BG secondary background color - (Додатковий фоновий колір сайту)
	// //--bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// // Text colors (Текстові кольори):
	// // =================================================================
	// --text-secondary:	#8A7474; // Text secondary text color - (Додатковий текстовий колір сайту)
	// // --text-primary: 	#172432; // Text primary text color - (Основний текстовий колір сайту)
	// // --text-inverse: 	#FFFFFF; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// //--text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	
	// // Layouts
	// // =================================================================
	// --z-index-top 		:100;
	// --z-index-section 	:50;
	// --z-index-art 		:25;
	// --z-indexi-tem 		:10;

	// Fonts
	//========================================================================================================================================================
	--f1:				'Roboto', sans-serif;   
	// --f2:				'Playfair Display', serif;;
	// --f3:				'Mulish', sans-serif;;
}

// Налаштування адаптивної сітки ==============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенн
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;
// Site colors (Кольори сайту):

body {
	min-width: $minWidth + px;
	background-color: var(--bg-primary);
	color: var(--white);
	font-family: var(--f1);
	font-size: rem(18); // де 14(px) - розмір шрифту за замовчуванням з макету
	letter-spacing: normal;;
	line-height: normal;;
	font-style: normal;
	font-weight: 400;
}